*{
  margin: 0;
  padding: 0.2em;
  box-sizing: border-box;
  color: var(--pink);
}

:root{
  --teal:#688983;
  --pink: #d89b8b;
  --cream: #e1d1c1;
  --yellow: 	#e1994e;
  --extraCream: #f2eae3;
  --borderRadius: 5px;
}
body{
  background-color: var(--cream);
}
header{
  text-align: center;
  font-size: 2em;
}
button{
  border: none;
  background-color: var(--teal);
  color: var(--cream);
  padding: 1.2em;
  border-radius: var(--borderRadius);
  margin-left: 1em;
}
button:hover{
  border-radius: 10px;
  background-color: var(--yellow);
  color: var(--teal);
}
input, textarea{
  border-radius: var(--borderRadius);
  border: 3px solid var(--teal);
  color: darkslategray;
  width: 60%;
  margin: 1em;
  padding: 1em;
}
#formBtn{
  width: 20%;
}
#inputForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 30%;
  margin-left: 5em;
  margin-right: 5em;
  padding: 1em;
  background-color: var(--extraCream);
  border-radius: var(--borderRadius);
  border: 10px double var(--teal);
  margin-bottom: 0.5em;
}
label{
  font-size: 1.5em;
}
/* The todo list */
#eachTodo{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding-left: 1em;
  padding-right: 1em;
  background-color: var(--extraCream);
  border-radius: var(--borderRadius);
  margin-bottom: 0.5em;
}
#leftTodo{
  display: flex;
  flex-direction: row;
}